//
// Team section styling
//

.team-member {
  text-align: center;

  h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
}

// Brand images for client section
.img-brand {
  height: 2.75rem;
  width: auto;
}
