//
// Colors
//

$dark: #182621;
$white: #F2F2F2;
// Override Bootstrap color variables

$yellow: #F2BF27;

// Override Bootstrap state colors variables

// $primary: $yellow;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
