//
// Colors
//

$dark: #182621;
$white: #F2F2F2;
// Override Bootstrap color variables

$yellow: #F2BF27;

$kris: #FF7A5E;

// Override Bootstrap state colors variables

$primary: $kris;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
